

body {
  background-color: white;
}


.text-time{
    font-size:2rem;
    }


.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}


 

